body {
    @apply font-sans text-fg-primary text-md;
}

/* start lynith's native experience (tm) */
* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    cursor: default !important;
    animation-duration: 150ms !important;
}

*:hover {
    cursor: default !important;
}

img {
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
	pointer-events: none;
}
/* end lynith's native experience (tm) */

/* lynith's epic webkit gtk <=2.44 fixer */
body[data-platform="linux"] img {
	/* Forces webkit gtk to use the GPU for image rendering, should speed up loading of some pages. Temporary until Tauri updates to at least 2.45
	2.45 is the first version to use Skia for rendering, which prioritises the GPU over the CPU unlike Cairo */
	@apply transform-gpu;
}
/* end lynith's epic webkit gtk <=2.44 fixer */

h1 { @apply text-2xl font-semibold; line-height: 1.5 !important; }
h2 { @apply text-xxl font-semibold; line-height: 1.25 !important; }
h3 { @apply text-xl font-medium; }
h4 { @apply text-lg font-medium; }
h5 { @apply text-md text-fg-secondary font-bold uppercase; }

code {
	@apply rounded-md bg-component-bg p-2 text-left;
}

.os-scrollbar {
    --os-size: 10px;
    --os-track-border-radius: theme(borderRadius.lg);
    --os-handle-bg: rgba(255, 255, 255, 0.05);
    --os-handle-bg-hover: rgba(255, 255, 255, 0.10);
    --os-handle-bg-active: rgba(255, 255, 255, 0.07);
    --os-handle-perpendicular-size-hover: 140%;
    --os-handle-perpendicular-size-active: 140%;
    --os-handle-interactive-area-offset: 1;
}

.os-scrollbar-offset-right {
    --os-padding-axis: 10;
}

.os-hide-horizontal-scrollbar > .os-scrollbar-horizontal {
    display: none;
}

.noti-animation-enter-active, .noti-animation-leave-active {
    transition: opacity 160ms, transform 175ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.noti-animation-enter, .noti-animation-leave-to {
    opacity: 0;
    transform: translateX(75px);
}

.noti-animation-enter-to, .noti-animation-leave {
    opacity: 1;
    transform: translateX(0);
}

.modal-animation-enter-active, .modal-animation-leave-active {
    transition: opacity 160ms, transform 175ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.modal-animation-enter, .modal-animation-leave-to {
    opacity: 0;
    transform: scale(0);
}

.modal-animation-enter-to, .modal-animation-leave {
    opacity: 1;
    transform: scale(1);
}

body.reduce-motion *, body.reduce-motion *::after, body.reduce-motion *::before {
    transition-duration: 0.00001ms !important;
    animation-duration: 0.00001ms !important;
}
