@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animated";
@import "../../node_modules/@onelauncher/common/dist/theme.css";

@theme {
	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;
}

h1 { @apply text-[2rem] font-semibold; line-height: 1.5 !important; }
h2 { @apply text-[1.5rem] font-semibold; line-height: 1.25 !important; }
h3 { @apply text-[1.25rem] font-medium; }
h4 { @apply text-[1rem] font-medium; }
h5 { @apply text-[0.875rem] text-fg-secondary font-bold uppercase; }
h6 { @apply text-[0.75rem] text-fg-secondary font-medium uppercase; }

code {
	@apply rounded-md p-2 text-left;
}

/* i dont know where to put this */
.linearBlur::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(30);
	backdrop-filter: blur(30);

	-webkit-mask: linear-gradient(270deg, transparent, black 50%);
	mask: linear-gradient(270deg, transparent, black 50%);

	background: linear-gradient(270deg, transparent, rgba(0, 0, 0, 0.85) 80%);
}

@utility text-trim{
	text-box: trim-both cap alphabetic
}
