; make all engine requirements (e.g. node version) strictly kept
engine-strict=true
dedupe-peer-dependents=true
# strict-peer-dependencies=true
auto-install-peers=true
max-old-space-size=4096
enable-pre-post-scripts=true
package-manager-strict=true
package-manager-strict-version=true
