.markdown {
	@apply line-height-relaxed flex flex-col items-start gap-y-2;
}

.markdown {
  table {
    width: auto;
  }

  hr {
	width: 100%;
	margin: 20px 0px;
  }

  ul,
  ol {
    margin-left: 2rem;
	list-style: initial;
  }

  center {
	margin: auto;
	width: 100%;
  }

  img {
	display: inline-block;
  }

  blockquote, code, details, dl, ol, p, pre, table, ul {
	margin-bottom: 16px;
	margin-top: 0px;
  }
}
