.dropdown {
    @apply relative h-full;

    .dropdown_elements_container {
        @apply flex flex-col gap-1;
    }

    .dropdown_element {
        @apply bg-secondary rounded-lg border border-gray-05 p-1 shadow-md shadow-black/30 h-full;
    }

    .list {
        @apply max-h-46 overflow-auto;
        @apply flex-col gap-1;
        @apply hidden;
    }

    .visible .list {
        @apply flex;
    }

    .row {
        @apply w-full flex flex-row justify-start items-center gap-1.5 h-4 text-nowrap overflow-hidden;

        > svg {
            @apply min-w-4 min-h-4 w-4 h-4;
        }
    }

    .selected {
        @apply w-1 h-1 bg-white rounded-full opacity-0;
        &.visible {
            @apply opacity-100;
        }
    }

}