:root {
	--toastify-color-light: transparent;
	--toastify-color-dark: transparent;
	--toastify-color-info: var(--toastify-color-dark);
	--toastify-color-success: var(--color-success);
	--toastify-color-warning: var(--color-warning);
	--toastify-color-error: var(--color-error);
	--toastify-color-transparent: rgba(255, 255, 255, 0.7);

	--toastify-icon-color-info: var(--color-code-info);
	--toastify-icon-color-success: var(--color-code-success);
	--toastify-icon-color-warning: var(--color-code-warning);
	--toastify-icon-color-error: var(--color-code-error);

	--toastify-container-width: fit-content;
	--toastify-toast-width: 320px;
	--toastify-toast-offset: 16px;
	--toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
	--toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
	--toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
	--toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
	--toastify-toast-padding: 0px;
	--toastify-toast-min-height: 0px;
	--toastify-toast-max-height: 800px;
	--toastify-toast-bd-radius: 0px;
	--toastify-toast-shadow: var(--shadow-lg);
	--toastify-font-family: var(--font-sans);
	--toastify-z-index: 9999;
	--toastify-text-color-light: var(--color-fg-primary);
	--toastify-text-color-dark: var(--color-fg-primary);

	/* Used only for colored theme */
	--toastify-text-color-info: #fff;
	--toastify-text-color-success: #fff;
	--toastify-text-color-warning: #fff;
	--toastify-text-color-error: #fff;

	--toastify-spinner-color: #616161;
	--toastify-spinner-color-empty-area: #e0e0e0;
	--toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
	--toastify-color-progress-dark: #bb86fc;
	--toastify-color-progress-info: var(--toastify-color-info);
	--toastify-color-progress-success: var(--toastify-color-success);
	--toastify-color-progress-warning: var(--toastify-color-warning);
	--toastify-color-progress-error: var(--toastify-color-error);
	/* used to control the opacity of the progress trail */
	--toastify-color-progress-bgo: 0.2;
}

@keyframes custom-anim-progress-bar {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
