@layer utilities {
	@keyframes custom-anim-zoom {
		0% {
			transform: scale(0);
		}
		100% {
			transform: scale(1);
		}
	}
}

@utility animate-zoom {
	transform: scale(0);
	animation: custom-anim-zoom var(--default-animation-duration, 1s) var(--default-animation-timing-function, cubic-bezier(0, 0, 0.2, 1)) var(--default-animation-delay, 0s) forwards;
}
