@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animated";
@plugin "@tailwindcss/typography";
@import "../../node_modules/@onelauncher/common/dist/theme.css";
@import "./animations.css";

@utility partial-underline-* {
	position: relative;

	&::after {
		content: "";
		background: none repeat scroll 0 0 currentColor;
		bottom: 1px;
		display: block;
		height: 3px;
		position: absolute;
		width: --spacing(--value(integer));
		width: --value(percentage, [percentage]);
		border-radius: 10px;
	}
}

@utility partial-leftline-* {
	position: relative;

	&::after {
		content: "";
		background: currentColor;
		position: absolute;
		left: 0;
		top: 0;
		width: 3px;
		height: --spacing(--value(integer));
		height: --value(percentage, [percentage]);
	}
}

@theme {
	/** border */
	--color-component-border: #ffffff1A;

	/** rounding */
	--radius-sm: 0.25rem;
	--radius-md: 0.438rem;
	--radius-lg: 0.625rem;
	--radius-xl: 1rem;
	--radius-2xl: 1.5rem;
	--radius-3xl: 2rem;
}

.prose-invert {
	--tw-prose-body: var(--color-fg-primary);
	--tw-prose-headings: var(--color-fg-primary);
	--tw-prose-bold: var(--color-fg-primary);
}
