body {
    @apply font-sans text-fg-primary text-md;
}

/* start lynith's native experience (tm) */
* { 
    user-select: none;
    -webkit-user-select: none;
    cursor: default !important; 
    animation-duration: 150ms !important;
}

*:hover { 
    cursor: default !important; 
}

img { 
    -webkit-user-drag: none; 
}
/* end lynith's native experience (tm) */

h1 { @apply text-2xl font-semibold; line-height: 1.5 !important; }
h2 { @apply text-xxl font-semibold; line-height: 1.25 !important; }
h3 { @apply text-xl font-medium; }
h4 { @apply text-lg font-medium; }

.os-scrollbar {
    --os-size: 10px;
    --os-track-border-radius: theme(borderRadius.lg);
    --os-handle-bg: rgba(255, 255, 255, 0.05);
    --os-handle-bg-hover: rgba(255, 255, 255, 0.10);
    --os-handle-bg-active: rgba(255, 255, 255, 0.07);
    --os-handle-perpendicular-size-hover: 140%;
    --os-handle-perpendicular-size-active: 140%;
    --os-handle-interactive-area-offset: 1;
}

.os-scrollbar-offset-right {
    --os-padding-axis: 10;
}

.os-hide-horizontal-scrollbar > .os-scrollbar-horizontal {
    display: none;
}

.page-animation-enter-active, .page-animation-leave-active {
    transition: opacity 160ms, transform 175ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.page-animation-enter, .page-animation-leave-to {
    opacity: 0;
    transform: translateX(-75px);
}

.page-animation-enter-to, .page-animation-leave {
    opacity: 1;
    transform: translateX(0);
}
