name: Build and Lint

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  es:
    name: ES Checks
    runs-on: ubuntu-22.04
    timeout-minutes: 7
    steps:
      - name: Prepare Target
        run: echo "PR_FETCH_DEPTH=$(( ${{ github.event.pull_request.commits }} + 1))" >> "${GITHUB_ENV}"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pnpm
        uses: ./.github/actions/setup-pnpm
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Linting
        run: pnpm lint:es
  clippy:
    name: Rust Checks
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          save-cache: true
          restore-cache: true

      - name: Setup Packages
        uses: ./.github/actions/setup-packages

      - name: Create Dummy Dist Directories
        run: |
          mkdir -p apps/onelauncher/frontend/dist
          mkdir -p apps/oneclient/frontend/dist

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
